/* Samsung LH75W */

    /* Header */
    header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #0088B7;
    }

    /* UNIVERSIDADE FEDERAL DO MATO GROSSO DO SUL */
    #UFMS-DIV {
        width: 100%;
    }
    #UFMS {
        color: #FFF;
        font-size: 5rem;
        font-family: "Futura XBlkCn BT", "Swis721 Cn BT" , sans-serif;
        text-align: center;
    }
    /* Logotipo da UFMS */
    #UFMS-LOGO-DIV {
        width: 10%;
    }
    /* Botão - Sobre */
        #about-button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 5rem;
        }
        #DEVELOPERS {
            font-family: "Trebuchet MS", sans-serif;
            font-size: 3rem;
            box-shadow: 10px 10px black;
            background-color: #0088B7;
            color: #FFF;
            padding: 2rem 5rem;
            border-radius: 3rem;
            font-weight: 700;
        }
    /* Modal Sobre - Background */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;  /* 15% from the top and centered */
            padding: 1rem 2rem; 
            border: 1px solid #888;
            width: 60%; /* Could be more or less, depending on screen size */
            font-family: "Trebuchet MS", sans-serif;
        }
        
        #modal-about {
            font-size: 3.5rem;
            font-weight: 700;
            margin: 2rem 0;
        }
        .modal-content ul {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .devs p {
            font-size: 3rem;
            margin: 2rem 0;
        }
        /* Logo da FACOM e da UFMS no modal */
        #LOGO-FACOM-UFMS {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            column-gap: 6rem;
            padding: 5rem 0;
        }
        #LOGO-FACOM-UFMS img {
            width: 300px;
            height: 300px;
        }
        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 6rem;
            font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    /* Section - Main content */
        #main-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        /* Logotipo do Museu da Ciência */
        #MUSEU-LOGO-DIV {
            width: 100%;
        }
        #MUSEU-LOGO {
            width: 50%;
            /* margin: 0 auto; */
            display: block;
        }

    /* Footer */

        footer {
            width: 100%;
            padding-right: 10rem;
        }
        /* Apresentação */
        #presentation {
            width: 100%;
            text-align: center;
            font-size: 4rem;
            font-family: "Trebuchet MS" , sans-serif;
        }
        #presentation h2 {
            color: #FFF;
        }
        /* Botão - Iniciar aventura */
        #BUTTONS {
            width: 100%;
            text-align: end;
        }
        .start {
            background-color: #0088B7;
            color: #FFF;
            padding: 3rem 5rem;
            border-radius: 5rem;
            font-weight: 700;
            box-shadow: 20px 15px black;
            font-family: "Trebuchet MS", sans-serif;
            font-size: 5.5rem;
        }

/* Mobile */
@media only screen and (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        row-gap: 4rem;
    }
    /* Header */

    /* UNIVERSIDADE FEDERAL DO MATO GROSSO DO SUL */
    header {
        margin-bottom: 170px;
        padding: 1rem;
    }
    #UFMS-DIV {
        width: 100%;
    }
    #UFMS {
        font-size: 0.8rem;
    }
    #UFMS-LOGO-DIV {
        width: 14%;
    }
    /* Botão - Sobre */
        #about-button {
            padding: 0 0.5rem;
        }
        #DEVELOPERS {
            font-size: 0.8rem;
            box-shadow: 2px 1px black;
            padding: 0.5rem 1rem; 
            border-radius: 1.5rem;
            border: 2px solid black;
        }
    /* Modal Sobre - Background */
        .modal-content {
            margin: 50% auto;
            padding: 1rem; 
            border: 1px solid #888;
            width: 60%; /* Could be more or less, depending on screen size */
            text-align: center;
        }
        
        #modal-about {
            font-size: 1rem;
            margin: 2rem 0;
        }
        .devs p {
            font-size: 0.8rem;
            margin: 2rem 0;
        }
        /* Logo da FACOM e da UFMS no modal */
        #LOGO-FACOM-UFMS {
            column-gap: 1rem;
            padding: 1rem 0;
        }
        #LOGO-FACOM-UFMS img {
            width: 70px;
            height: 70px;
        }
        /* The Close Button */
        .close {
            font-size: 2rem;
        }
        
    /* Section - Main content */
        /* Logotipo do Museu da Ciência */
        #MUSEU-LOGO {
            width: 100%;
            margin: 0 auto;
            display: block;
        }

    /* Footer */
        footer {
            padding-right: 0;
        }
        /* Botão - Iniciar aventura */
        #BUTTONS {
            width: 100%;
            text-align: center;
        }
        .start {
            padding: 1rem 2rem;
            border-radius: 1.5rem;
            box-shadow: 3px 1px black;
            font-size: 1rem;
            border: 2px solid black;
        }
}
/* Tablet */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        display: flex;
        flex-direction: column;
        row-gap: 4rem;
    }
    /* Header */

    /* UNIVERSIDADE FEDERAL DO MATO GROSSO DO SUL */
    header {
        margin-bottom: 170px;
        padding: 1rem;
    }
    #UFMS-DIV {
        width: 100%;
    }
    #UFMS {
        font-size: 1.25rem;
    }
    #UFMS-LOGO-DIV {
        width: 14%;
    }
    /* Botão - Sobre */
        #about-button {
            padding: 0 0.5rem;
        }
        #DEVELOPERS {
            font-size: 1rem;
            box-shadow: 2px 1px black;
            padding: 0.5rem 1rem; 
            border-radius: 1.5rem;
            border: 2px solid black;
        }
    /* Modal Sobre - Background */
        .modal-content {
            margin: 50% auto;
            padding: 1rem; 
            width: 60%; /* Could be more or less, depending on screen size */
            text-align: center;
        }
        
        #modal-about {
            font-size: 1.75rem;
            margin: 2rem 0;
        }
        .devs p {
            font-size: 1.25rem;
            margin: 2rem 0;
        }
        /* Logo da FACOM e da UFMS no modal */
        #LOGO-FACOM-UFMS {
            column-gap: 1rem;
            padding: 1rem 0;
        }
        #LOGO-FACOM-UFMS img {
            width: 120px;
            height: 120px;
        }
        /* The Close Button */
        .close {
            font-size: 2.5rem;
        }
        
    /* Section - Main content */
        /* Logotipo do Museu da Ciência */
        #MUSEU-LOGO {
            width: 100%;
            margin: 0 auto;
            display: block;
        }

    /* Footer */
        footer {
            padding-right: 0;
        }
        /* Botão - Iniciar aventura */
        #BUTTONS {
            width: 100%;
            text-align: center;
        }
        .start {
            padding: 1rem 2rem;
            border-radius: 1.5rem;
            box-shadow: 3px 1px black;
            font-size: 2rem;
            border: 2px solid black;
        }
}
/* Desktop */
@media only screen and (min-width: 1025px) and (max-width: 1300px) {
    #UFMS {
        font-size: 1.5rem;
    }
    #UFMS-LOGO-DIV {
        padding: 1rem;
    }
    #about-button {
        padding: 0 1rem;
    }
    #DEVELOPERS {
        font-size: 1rem;
        box-shadow: 3px 3px black;
        border: 3px solid black;
        padding: 0.5rem 1.5rem;
        border-radius: 1rem;
        font-weight: 700;
    }
    .modal {
        overflow: hidden;
    }
    .modal-content {
        padding: 0.5rem 1rem; 
        border: 1px solid #888;
        width: 50%; /* Could be more or less, depending on screen size */
    }
    
    #modal-about {
        font-size: 1rem;
        margin: 1rem 0;
    }
    .devs p {
        font-size: 0.9rem;
        margin: 1rem 0;
    }
    /* Logo da FACOM e da UFMS no modal */
    #LOGO-FACOM-UFMS {
        column-gap: 1rem;
        padding: 1rem 0;
    }
    #LOGO-FACOM-UFMS img {
        width: 100px;
        height: 100px;
    }
    /* The Close Button */
    .close {
        font-size: 2rem;
    }
    /* Section - Main content */
    /* Logotipo do Museu da Ciência */
    #MUSEU-LOGO-DIV {
        width: 100%;
    }
    #MUSEU-LOGO {
        width: 35%;
    }

/* Footer */

    footer {
        width: 100%;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }
    /* Botão - Iniciar aventura */
    #BUTTONS {
        padding-bottom: 1rem;
    }
    .start {
        padding: 1rem 2rem;
        border-radius: 1.5rem;
        box-shadow: 5px 5px black;
        font-size: 1.5rem;
        border: 3px solid black;
    }

}